<!-- 
 
Team Name : L & D Interstellar
Project Name : Code Dribble
Started Date : 21-03-2025
Expected End Date : 21-03-2025
Description: this component is used for Impact Training.


-->

<!-- this view is visualize the TN Data -->
<div class="TN-management">
    <div class="inner-TNmanagement">
        <h2>Overview</h2>
    </div>
    <div class="inner-TNmanagement">
        <h4>Management</h4>
    </div>
    <div class="inner-TNmanagement">
        <div class="dashboard-containers">
            <div class="dashboard-contents">
                <div class="contents">
                    <h2>Elevate Your Expertise Through Our Online Courses.</h2>
                </div>
                <div class="contents">
                    <p>Online courses and digital training to help you learn new skills or help you grow your career.</p>
                </div>
                <div class="contents">
                    <button>Let's Start</button>
                </div>
            </div>
            <div class="dashboard-contents">
                <div class="countDetails">
                    <div class="details">
                        <h4>Total Count</h4>
                    </div>
                    <div class="details">
                        <p>{{totalCount.length}}</p>
                    </div>
                </div>
                <div class="countDetails">
                    <div class="details">
                        <h4>Impact Trainees</h4>
                    </div>
                    <div class="details">
                        <p>{{impactTrainee.length}}</p>
                    </div>
                </div>
                <div class="countDetails">
                    <div class="details">
                        <h4>Internship</h4>
                    </div>
                    <div class="details">
                        <p>{{internship.length}}</p>
                    </div>
                </div>
                <div class="countDetails">
                    <div class="details">
                        <h4>COE</h4>
                    </div>
                    <div class="details">
                        <p>{{internship.length}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="dashboard-containers">

        </div>
        <div class="dashboard-containers">

        </div>
    </div>
</div>